@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<div class="app">
    <FluentLayout>
        <FluentHeader Height="@(default)">
            <a href="" class="main-title main-logo">
                <img src="Valcon-dark.png" alt="Valcon" width="80" />
            </a>
            
            <a href="" class="main-title">
                Performance Review Assistant
            </a>
            <span class="subpage-title"><SectionOutlet SectionName="PageTitle" /></span>
            <LoginDisplay />
            <span class="theme-picker">
                <ThemePicker />
            </span>
        </FluentHeader>
        @Body
    </FluentLayout>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
