<footer class='eshop-footer'>
  <div class='eshop-footer-content'>
    <div class='eshop-footer-row'>
      <img role="presentation" src='images/Valcon-light.png' class='logo logo-footer' />
      <p>© Valcon</p>
    </div>
  </div>
</footer>